:root {
    --primary-color: #1e1a57;
    --secondary-color: #FFA500;
    --accent-color: #87CEEB;
    --text-color: #333333;
    --background-color: #B2FFFF;
}

body {
    font-family: "Lato", serif;
    margin: 0;   
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header .logo img {
    height: 50px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    margin: 0 15px;
    font-weight: bold;
}

.cta {
    text-align: center;
    background-color: var(--accent-color);
    padding: 40px;
    color: var(--secondary-color);
}

.cta-button {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.trip-descriptions {
    text-align: center;
    color: var(--secondary-color);
    padding: 80px;
    display: inline;
    
}




.trip img {
    width: 50%;
    border-radius: 5px;
}

.trips-table {
    text-align: center;
    color: var(--secondary-color);
    padding: 40px;
}

.trips-table table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.trips-table th, .trips-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.trips-table th {
    background-color: var(--primary-color);
    color: white;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer .social-media a {
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media img {
    width: 30px;
    vertical-align: middle;
}

footer a {
    color: var(--accent-color);
    text-decoration: none;
}
